<nav>
    <div class='main_menu'>
        <ul class=' menu layout_width'>
            <li class='more'>
                <i class='xi-indent'></i>
            </li>
            <li>
                <a href='#'>1번메뉴</a>
            </li>
            <li>
                <a href='#'>2번메뉴</a>
            </li>
            <li>
                <a href='#'>3번메뉴</a>
            </li>
            <li>
                <a href='#'>4번메뉴</a>
            </li>
            <li>
                <a href='#'>5번메뉴</a>
            </li>
            <li>
                <a href='#'>6번메뉴</a>
            </li>
        </ul>
    </div>
</nav>