
    <div class='main_menu'>
        <ul class=' menu layout_width'>
            <li class='more'>
                <i class='xi-indent'></i>
            </li>
            <li>
                <a href='#'>알림사항</a>
            </li>
            <li>
                <a href='#'>상품구매</a>
            </li>
            <li>
                <a href='#'>커뮤니티</a>
            </li>
            <li>
                <a href='#'>고객지원</a>
            </li>
            <li>
                <a href='#'>가맹문의</a>
            </li>
        </ul>
    </div>
