
* {
	color: #000000;
}
html {
	font-size: 15px; /* 1rem */
}
body {
	margin: 0;
    
}
a {
	text-decoration: none;
}

nav {
    background-color: #d19f6d;
    height: 30px;
}

ul li {
    list-style: none;
    padding: 0;
}
nav ul li {
    float: left;
    width: calc(100% / 7);
    font-size: 1.2rem;
}
nav ul li i {
    font-size: 2rem;
}
nav ul:after {
    display: block;
    content: '';
    clear: left;
}
