<div class='logo_search'>
	<div class='inner layout_width'>
	   <div class='box icon_menu'>
		  <a href='#'><img class='show_menu' src='img/menu.png'></a>
		  {% block content %}
		  {% if isLogin %}
		  <a href= "/member/logout"><img src='img/logout.png'></a>
		 {% else %}
		 <a href='/member/login'><img src='img/login.png'></a>
		  <a href='/member/join'><img src='img/join.png'></a>
		 {% endif %}
		 {% endblock %}
		  <a href='#'><img src='img/location.png'></a>
	   </div>
	   <div class='box logo'>
		  <a href='#'><img src='img/mainlog.png'></a>
	   </div>
	</div>
 </div>
