element.style {
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    text-decoration: none;
    vertical-align: baseline;
    color: #666;
    background: transparent;
    cursor: pointer;
}

strong {
    font-weight: bold;
}

.new-rewards_inner {
    max-width: 1080px;
    margin: 0 auto;
}

.new-rewards_logo {
    float: center;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}

.new-rewards_conts {
    box-sizing: border-box;
    float: center;

    padding-right: 30px;
    color: #fff;
    letter-spacing: 0.5px;
	
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
	
	padding-right: 0;
    text-align: center;
}

.new-rewards_conts .info-cont_txt p, .new-rewards_conts .gift-cont_txt p {
    line-height: 1.7;
}

.reserve_title {
    max-width: none;
    width: 46%;
    margin-right: 0;
    margin-left: 0;
    padding-top: 60px;
    padding-left: 25px;
}

.reserve_title {
    position: relative;
    z-index: 10;
    padding-top: 94px;
    max-width: 1080px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.reserve_visual-m {
    display: block;
}

.main_banner {
	
	display: inline-block;
	background-color: #a3d199;
	opacity: 0.9;
	box-shadow: 0px 2px 4px #212121;
}

.reserve3_mobile {
    display: block;
    margin-top: 13%;
}

.reserve3_mobile img {
    width: 100%;
}
img {
    vertical-align: top;
    max-width: 100%;
}





